[submodule "yocto-autobuilder-helper"]
	path = buildbot/yocto-autobuilder-helper
	url = git@github.com:gholang/yocto-autobuilder-helper
[submodule "buildbot/yoctoabb"]
	path = buildbot/yoctoabb
	url = git@github.com:gholang/yocto-autobuilder2
