[submodule "yocto-autobuilder2"]
	path = yocto-autobuilder2
	url = git@github.com:gholang/yocto-autobuilder2
[submodule "yocto-autobuilder-helper"]
	path = yocto-autobuilder-helper
	url = git@github.com:gholang/yocto-autobuilder-helper
